body{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url(wel.jpg);*/
    background-color: black;
     width: 500px;
    height: 500px; 
    background-attachment: fixed;
}
section{
    position: sticky;
    list-style: none;
    display: block;
    /*color:rgb(174, 136, 94);*/
    color: rgb(219, 216, 216);
   /*color: rgba(78, 78, 110, 0.7);*/
   /* text-shadow:0px 0px 5px rgba(38, 20, 8, 0.623);*/
    font-family: cursive;
    font-size: 3rem; 
    text-align: center;
    padding-top: 25vh;
    height: 25rem;
    

}
 .nav td:hover{
    border-radius:50% 10% 50% 10%;
    background-color: rgba(210, 105, 30, 0.481);
    width: fit-content;
    height: 5px;
    color: rgb(219, 216, 216);
    transition-duration: 2s;
}

.nav table{
    color: rgb(219, 216, 216);
   /*color: rgba(78, 78, 110, 0.7);*/
    text-shadow:0px 0px 5px rgba(38, 20, 8, 0.623);
    font-family: cursive;
    font-size: 1.3rem; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.597);
    margin-bottom: 0px;
    position: fixed;
    display: inline;
    top: 0px;
    left: 0vw;
    padding:5px;
    border-spacing: 3px;
    width:100rem;
    height: fit-content;
   /*color:rgb(174, 136, 94);*/
    color: rgb(219, 216, 216);
   /*color: rgba(78, 78, 110, 0.7);*/
    text-shadow:0px 0px 5px rgba(38, 20, 8, 0.623);
    font-family: cursive;
    font-size: 1.3rem; 
    cursor: pointer;
}
table td{
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: rgb(219, 216, 216);
}

.head{
    text-align: center;
    font-size:6rem;  
    border-radius: 0px 350px 0px 350px;
    background-color: rgba(210, 105, 30, 0.3);
    position: absolute;
    left:75px; 
    top: 10.5%;
    width: 100%;
    height:100%;
}
th{
    display: block;
}
td span :hover{
    border-radius:20px;
    background-color: rgba(210, 105, 30, 0.481);
    width: fit-content;
    color: rgb(219, 216, 216);
    transition-duration: 2s;
}
.Au{
    position: absolute;
    display: flex;
    flex-flow: column  wrap;
}
#myVideo {
    position:fixed;
    right: 0;
    bottom: 0;
     min-width: 100%;
    min-height: 100%;  
     z-index: -1; 
    margin: auto;
    /* background-image: url(wel.jpg);
    background-size: cover; */
  }
  @media (min-aspect-ratio:16/9){
    #myVideo {
        position:fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        /* background-image: url(wel.jpg);
        background-size: cover; */
      }
  }
   @media (max-aspect-ratio:16/9){
    #myVideo {
        position:fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        margin: auto;
        /* background-image: url(wel.jpg);
        background-size: cover; */
    }
  }
  p{
      background-color: aqua;
      width: fit-content;
      height: fit-content;
      color: aquamarine;
  }